
#logo{
  margin-right:.2em;
  margin-top:.8em;
}
header{
  height:40px;
}
h2{
  font-family: cursive;
  display:inline;
  font-style: italic;
}
#title{
  color: gray;
  font-family: sans-serif;
  margin:0px;
}
#header-block{
  display: inline-block;
}
h1{
  font-family: sans-serif;
  margin-bottom:2px;
  margin-top:0px;
  border-top: solid lightgray 10px;
  line-height:130px;
  height:80px;
}

h5{
  font-family: sans-serif;
  margin-top:2px;
  font-size: 10px;
  color:gray;
}

nav li{
  display:inline-block;
  float: right;
}

#printer-image{
  display: inline-block;
  float: right;
  position: relative;
  top:-25px
}
#print-button{
  float:right;
  position: relative;
  top:-30px;
  border:none;
  color:gray;
}
main{
  margin-top: 50px;
  margin-bottom:  40px;
}
.main-paragraph{
  text-indent: 2em;
  color:gray;
  margin:25px;
}

#column-1{
  position: absolute;
  top: 1100px;
  left: 200px;
  list-style-type: square;
  font-family: sans-serif;
  color:rgb(116, 113, 113);
}
#column-2{
  position: absolute;
  top: 1100px;
  left: 570px;
  list-style-type: square;
  font-family: sans-serif;
  color:rgb(116, 113, 113);
}
#share{
  background: rgb(216, 116, 76);
  float:right;
  height: 45px;
  margin-top: 50px;
  color:white;
  
}
#page-container{
  box-sizing:border-box;
  display:block;
  height:100vh;
  max-width: 901px;
  margin:auto;
}
nav{
  float:right;
  margin-top:15px;
}

#column-1 li{
  padding: .5em;
  content: "\2611";
}
#column-2 li{
  padding :.5em;
}

#vanessa-comment{
  display:inline-block;
  margin-left:15px;
  
}

footer{
  border-top: solid lightgray 10px;
}
#bottom-logo{
  position: absolute;
  left:500px;

}
